PostsDir = "testdata/posts"
DataDir = "testdata"
CacheDir = "cache"
TagsPath = "cache/tags.json"

IndexPosts = 15
TagsPageNewestFirst = true
ArchiveListNewestFirst = true

LogDir = "logs"

Domain = "localhost"
Port = 8080

DebugMode = false
