IndexPosts = 15
PostsDir = "testdata/posts"
DataDir = "testdata"
CacheDir = "cache"
TagsPath = "cache/tags.json"
TagsPageNewestFirst = true
LogFile = "simpleblog.log"
LogPrefix = ""
DebugMode = true
Domain = "localhost"
Port = 8080